*{
    margin:0;
    padding:0;
}

#col1{
    /* background-color: red; */
    /* height:100vh; */
    width:33.5vw;
}

#col2{
    /* background-color: blue; */
    /* height:100vh; */
    width:33.5vw;
}

#col3{
    /* background-color: rgb(0, 255, 0); */
    /* height:100vh; */
    width:33vw;
}

.container{
    display:flex;
    height:85vh
}

h2{
    text-align:center
}

.formElement{
    justify-self:center;
}

form{
    display: flex;
    align-items: center;
}

.clearBtn{
    font-size:1rem;
}

.clearDiv{
    text-align: center;
}

.box{
    min-height: 200px;
    padding: 10px;
    margin: 10px;
    background-color: #f0f0f0;
    /* border: 1px dashed #666; */
}

input{
    width: 50vw;
    height: 18px;
    padding: 5px;
    margin: 5px;
}

button{
    height: 30px;
    padding: 5px;
    margin: 5px;
    font-size: large;
    border-radius: 10px;
}

ul{
    text-align:center;
}

li{
    list-style-type: none;
    /* cursor:grab */
}

#l1 {
    /* Prevents the text from being selected/highlighted */
    -webkit-user-select: none; /* Safari/Chrome */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE/Edge */
            user-select: none; /* Standard */
}

.todo>.dragItems{
    background-color: rgb(255, 0, 0);
    min-width:auto;
    padding:4px;
    margin:5px;
    text-align: center;
}

.ongoing>.dragItems{
    background-color: rgb(0, 251, 255);
    min-width:auto;
    padding:4px;
    margin:5px;
    text-align: center;
}

.completed>.dragItems{
    background-color:white;
    min-width:auto;
    padding:4px;
    margin:5px;
    text-align: center;
}

.dragItems{
    position: relative;
}

.crossBtn{
    border: 0;
    padding: .4rem;
    position: absolute;
    right: 2px;
    top: -2px;
    font-size: .7rem;
}

